@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    text-align: center;
    height: 100vh;
    background: radial-gradient(circle,
      #fefff7 90%, 
      #b2ccd2 100%  
    );
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  /* CustomCard.css */
.custom-card {
  width: 698px;
  height: 698px;
  position: relative;
  background: #F6FBF9;
  border-radius: 49.09px;
}

.custom-card-title {
  position: absolute;
  width: 483.23px;
  height: 72.10px;
  left: 107.38px;
  top: 67.50px;
  text-align: center;
  color: #212B27;
  font-size: 55.23px;
  font-weight: 700;
  line-height: 71.79px;
  /* Add font-family if 'Karla' is available */
}

/* Similar styles for other elements inside the card */

  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    /* color: #61dafb; */
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .text-left {
    text-align: left;
  }