/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: radial-gradient(circle,
      #fefff7 60%, 
      #b2ccd2 100%  
    );
  }
  
  .container h1 {
    font-size: 50px; 
    font-weight: bold;
    color: #004e7f; 
    margin-bottom: 20px; 
    font-family: 'Lucida Handwriting'; 
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-3px);
    }
  }


  
   */